  <div class="container">
    <div class="jumbotron">
      <h1>Let's Make A New Stage</h1>
    </div>

    <form action="/stages" method="post">
      <label for="stage_name">Stage name</label>
      <input type="text" name="stage_name" required>
      <label for="stage_genre">Stage name</label>
      <input type="text" name="stage_genre" required>
      <button type="submit" class="btn btn-info">Add that Stage!</button>
    </form>

  </div>
